/* styles.css */

body {
    background-color: rgb(31, 41, 55);
}

/* NAV BAR */
.nav-bar, .nav-links, #logo {
    gap: 16px;
    padding: 8px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 32px;
}

.nav-links, .nav-link {
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
}

/* HERO AREA */
.hero-area {
    display: flex;
    padding: 40px 0px;
}

.h1-header, .h1-body {
    color: white;
}

.h1-button {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.h1-area, .hero-image {
    padding: 40px;
}

.hero-image {
    width: 800px; /* Likely not the best solution here*/
    height: auto;
}

#hero {
    max-width: 100%;
    max-height: 100%;
}

/* GRID SECTION*/
.grid-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.image-grid {
    display: flex;
    gap: 16px;
}

.image-and-caption {
    width: 125px;
    display: flex;
    flex-direction: column;
}

.grid-image {
    height: 125px;
    border: #3882F6;
    border-style: solid;
    border-radius: 8px;
}

.caption {
    word-wrap: break-word;    
    text-align: center;
}

/* QUOTE SECTION */